extends base

block extraHead
    link(rel='stylesheet', href='/css/oneSupplier.css')

block content
    main
        section.user-details
            h2 Supplier Details
                table.user-table
                    tbody
                        tr
                            td.label First Name:</td>
                            td.user-detail #{supplier.firstName}</td>
                        tr
                            td.label Last Name:</td>
                            td.user-detail #{supplier.lastName}</td>
                        tr
                            td.label Email Address:</td>
                            td.user-detail #{supplier.emailAddress}</td>
                        tr
                            td.label Billing Address:</td>
                            td.user-detail #{supplier.billingAddress}</td>
                        tr
                            td.label Phone Number:</td>
                            td.user-detail #{supplier.phone}</td>

            .user-actions
                button.btn.btn--delete DELETE SUPPLIER
                a(href=`/manage-suppliers/modify/${supplier._id}`).btn.btn--accept MODIFY SUPPLIER
            script(src="/js/deleteModifySupplier.js")

